*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.jks
bin/
.idea/
build/
gen/
proguard/
/.settings/org.eclipse.core.resources.prefs
*/.DS_Store
com_crashlytics_export_strings.xml
atlassian-ide-plugin.xml
/assets/crashlytics-build.properties
/crashlytics.properties
local.properties
.DS_Store
.classpath
.project
.gradle
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp
/*/build
*.jks
captures/

